/* You can add global styles to this file, and also import other style files */

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  align-items: center;
  background-color: #f7f7f7;
}

.nav-title,.dark-mode-comp{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.dark-mode-comp{
  width:75%;
  font-size: 20px;
}

.nav-title a{
  color: rgb(75, 75, 75);
  margin-left: 25px;
}
.nav-title a {
  font-size: 1.5rem;
}
.nav-left {
  display: flex;
  width: 15%;
  align-items: center;
  font-size: 1.2rem;
}


@media (max-width:900px) {

  .nav-left {
    font-size: 1rem;
    width: 55%;
  }
  .dark-mode-comp{
    width:55%;
    font-size: 17px;
  }
}