.cards-container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.country-title{
  font-size: 25px;
}
.search-filter-comp{
  display: flex;
  justify-content: space-between;
  padding:15px;
  width:97%;
}

.app-card{
  box-shadow: 2px 2px 10px rgb(202, 202, 202);
  border-radius:20px ;
}
